[submodule "RSpec"]
	path = RSpec
	url = git://github.com/gevans/sublime-rspec.git
[submodule "DetectSyntax"]
	path = DetectSyntax
	url = git://github.com/gevans/sublime-detect-syntax.git
[submodule "Cucumber"]
	path = Cucumber
	url = git://github.com/npverni/cucumber-sublime2-bundle.git
[submodule "Mirah"]
	path = Mirah
	url = git://github.com/ishikawa/sublime-text-2-mirah.git
[submodule "SCSS"]
	path = SCSS
	url = git://github.com/danro/SCSS-sublime.git
[submodule "Slim"]
	path = Slim
	url = git://github.com/slim-template/ruby-slim.tmbundle.git
